Repository spacetelescope/jwst-pipeline-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sosey, @drlaw1558, @rizeladiaz, @brynickson, @skendrew, @ianyuwong, @cracraft, @kilarson, @rcooper295, @Rplesha, @goudfroo, @hayescr, @kglidic, @aliciacanipe, @bhilbert4, @bsunnquist

Update notebooks to build 12.0 (#74)
  README.md
  notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
  notebooks/MIRI/Coronagraphy/requirements.txt
  notebooks/MIRI/Imaging-TSO/JWPipeNB-MIRI-imaging-TSO.ipynb
  notebooks/MIRI/Imaging-TSO/requirements.txt
  notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
  notebooks/MIRI/Imaging/requirements.txt
  notebooks/MIRI/LRS-slit/JWPipeNB-MIRI-LRS-slit.ipynb
  notebooks/MIRI/LRS-slit/requirements.txt
  notebooks/MIRI/LRS-slitless-TSO/JWPipeNB-MIRI-LRS-slitless-TSO.ipynb
  notebooks/MIRI/LRS-slitless-TSO/requirements.txt
  notebooks/MIRI/MRS/JWPipeNB-MIRI-MRS.ipynb
  notebooks/MIRI/MRS/requirements.txt
  notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
  notebooks/NIRCAM/Coronagraphy/requirements.txt
  notebooks/NIRCAM/Imaging/JWPipeNB-nircam-imaging.ipynb
  notebooks/NIRCAM/Imaging/requirements.txt
  notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
  notebooks/NIRISS/AMI/requirements.txt
  notebooks/NIRISS/Imaging/JWPipeNB-niriss-imaging.ipynb
  notebooks/NIRISS/Imaging/requirements.txt
  notebooks/NIRSPEC/BOTS/JWPipeNB-NIRSpec-BOTS.ipynb
  notebooks/NIRSPEC/BOTS/requirements.txt
  notebooks/NIRSPEC/FSlit/JWPipeNB-NIRSpec-FS.ipynb
  notebooks/NIRSPEC/FSlit/requirements.txt
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
  notebooks/NIRSPEC/IFU/requirements.txt
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
  notebooks/NIRSPEC/MOS/requirements.txt
Owners: @sosey, @brynickson, @skendrew, @drlaw1558, @ianyuwong, @cracraft, @kilarson, @aliciacanipe, @bhilbert4, @bsunnquist, @rcooper295, @Rplesha, @goudfroo, @hayescr, @kglidic

Storing executed notebook notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
  notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
Owners: @aliciacanipe, @bhilbert4, @bsunnquist, @drlaw1558

Storing executed notebook notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
  notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
Owners: @cracraft, @skendrew, @drlaw1558

Storing executed notebook notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
  notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
Owners: @rcooper295, @Rplesha, @drlaw1558

Storing executed notebook notebooks/MIRI/LRS-slitless-TSO/JWPipeNB-MIRI-LRS-slitless-TSO.ipynb
  notebooks/MIRI/LRS-slitless-TSO/JWPipeNB-MIRI-LRS-slitless-TSO.ipynb
Owners: @ianyuwong, @skendrew, @drlaw1558

Storing executed notebook notebooks/MIRI/MRS/JWPipeNB-MIRI-MRS.ipynb
  notebooks/MIRI/MRS/JWPipeNB-MIRI-MRS.ipynb
Owners: @kilarson, @skendrew, @drlaw1558

Storing executed notebook notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
  notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
Owners: @aliciacanipe, @bhilbert4, @bsunnquist, @drlaw1558

Storing executed notebook notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
  notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
Owners: @cracraft, @skendrew, @drlaw1558

Storing executed notebook notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
  notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
Owners: @rcooper295, @Rplesha, @drlaw1558

Storing executed notebook notebooks/MIRI/LRS-slitless-TSO/JWPipeNB-MIRI-LRS-slitless-TSO.ipynb
  notebooks/MIRI/LRS-slitless-TSO/JWPipeNB-MIRI-LRS-slitless-TSO.ipynb
Owners: @ianyuwong, @skendrew, @drlaw1558

Storing executed notebook notebooks/MIRI/LRS-slit/JWPipeNB-MIRI-LRS-slit.ipynb
  notebooks/MIRI/LRS-slit/JWPipeNB-MIRI-LRS-slit.ipynb
Owners: @ianyuwong, @skendrew, @drlaw1558

Storing executed notebook notebooks/MIRI/Imaging-TSO/JWPipeNB-MIRI-imaging-TSO.ipynb
  notebooks/MIRI/Imaging-TSO/JWPipeNB-MIRI-imaging-TSO.ipynb
Owners: @ianyuwong, @skendrew, @drlaw1558

Storing executed notebook notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
  notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
Owners: @brynickson, @skendrew, @drlaw1558

Storing executed notebook notebooks/MIRI/MRS/JWPipeNB-MIRI-MRS.ipynb
  notebooks/MIRI/MRS/JWPipeNB-MIRI-MRS.ipynb
Owners: @kilarson, @skendrew, @drlaw1558

added note about SIRS kernel
  notebooks/NIRSPEC/FSlit/JWPipeNB-NIRSpec-FS.ipynb
Owners: @hayescr, @kglidic, @drlaw1558

added notes about build 12.0 some plotting changes
  notebooks/NIRSPEC/BOTS/JWPipeNB-NIRSpec-BOTS.ipynb
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
Owners: @hayescr, @kglidic, @drlaw1558

removed outputs
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
Owners: @hayescr, @kglidic, @drlaw1558

removed outputs
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
Owners: @hayescr, @kglidic, @drlaw1558

Create test-on-demand.yml
  .github/workflows/test-on-demand.yml
Owners: @sosey

Update test-on-demand.yml
  .github/workflows/test-on-demand.yml
Owners: @sosey

Delete .github/workflows/test-on-demand.yml
  .github/workflows/test-on-demand.yml
Owners: @sosey

Cleaning up some of the cells
  notebooks/NIRISS/WFSS/JWPipeNB-niriss-wfss.ipynb
Owners: @drlaw1558, @rizeladiaz

adding the requirements.txt file
  notebooks/NIRISS/WFSS/requirements.txt
Owners: @drlaw1558, @rizeladiaz

A few style things added based on PR checklist
  notebooks/NIRISS/WFSS/JWPipeNB-niriss-wfss.ipynb
Owners: @drlaw1558, @rizeladiaz

pep8 fixes
  notebooks/NIRISS/WFSS/JWPipeNB-niriss-wfss.ipynb
Owners: @drlaw1558, @rizeladiaz

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
*   @sosey

/notebooks/ @drlaw1558  @rizeladiaz

# Order is important; the last matching pattern takes the most
# precedence.
/notebooks/MIRI/Coronagraphy/   @brynickson  @skendrew  @drlaw1558
/notebooks/MIRI/Imaging-TSO/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/Imaging/   @cracraft  @skendrew  @drlaw1558
/notebooks/MIRI/LRS-slit/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/LRS-slitless-TSO/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/MRS/   @kilarson  @skendrew  @drlaw1558
/notebooks/NIRISS/AMI/   @rcooper295 @Rplesha  @drlaw1558
/notebooks/NIRISS/Imaging/   @goudfroo @Rplesha  @drlaw1558
/notebooks/NIRSPEC/BOTS/   @hayescr  @kglidic  @drlaw1558
/notebooks/NIRSPEC/FSlit/   @hayescr  @kglidic  @drlaw1558
/notebooks/NIRSPEC/IFU/   @hayescr  @kglidic  @drlaw1558
/notebooks/NIRSPEC/MOS/   @hayescr  @kglidic  @drlaw1558
/notebooks/NIRCAM/Coronagraphy/   @aliciacanipe  @bhilbert4  @bsunnquist  @drlaw1558
/notebooks/NIRCAM/Imaging/   @aliciacanipe  @bhilbert4  @bsunnquist  @drlaw1558
