Repository spacetelescope/jwst-pipeline-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sosey, @drlaw1558, @rizeladiaz, @brynickson, @skendrew, @ianyuwong, @cracraft, @kilarson, @spacetelescope/niriss, @spacetelescope/nirspec, @aliciacanipe, @bhilbert4, @bsunnquist

Update README
  README.md
Owners: @sosey

Update unchanged notebooks to jwst1.18.0 (#64)
  README.md
  notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
  notebooks/MIRI/Coronagraphy/requirements.txt
  notebooks/MIRI/Imaging-TSO/JWPipeNB-MIRI-imaging-TSO.ipynb
  notebooks/MIRI/Imaging-TSO/requirements.txt
  notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
  notebooks/MIRI/Imaging/requirements.txt
  notebooks/MIRI/LRS-slit/JWPipeNB-MIRI-LRS-slit.ipynb
  notebooks/MIRI/LRS-slit/requirements.txt
  notebooks/MIRI/LRS-slitless-TSO/JWPipeNB-MIRI-LRS-slitless-TSO.ipynb
  notebooks/MIRI/LRS-slitless-TSO/requirements.txt
  notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
  notebooks/NIRCAM/Coronagraphy/requirements.txt
  notebooks/NIRCAM/Imaging/JWPipeNB-nircam-imaging.ipynb
  notebooks/NIRCAM/Imaging/requirements.txt
  notebooks/NIRISS/Imaging/JWPipeNB-niriss-imaging.ipynb
  notebooks/NIRISS/Imaging/requirements.txt
Owners: @sosey, @brynickson, @skendrew, @drlaw1558, @ianyuwong, @cracraft, @aliciacanipe, @bhilbert4, @bsunnquist, @spacetelescope/niriss

Storing executed notebook notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
  notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
Owners: @aliciacanipe, @bhilbert4, @bsunnquist, @drlaw1558

deploy: 5188fb6aceeca7355cdfb7f3a8e5ffbb11f20835
  .buildinfo
  README.html
  _sources/README.md
  _sources/notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
  notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.html
  searchindex.js
Owners: @sosey, @brynickson, @skendrew, @drlaw1558

Update README
  README.md
Owners: @sosey

Update MIRI MRS notebooks to jwst1.18.0 (#65)
  README.md
  notebooks/MIRI/MRS/JWPipeNB-MIRI-MRS.ipynb
  notebooks/MIRI/MRS/requirements.txt
Owners: @sosey, @kilarson, @skendrew, @drlaw1558

Update README
  README.md
Owners: @sosey

Update AMI to 1.18.0 and enable multiple filters (#62)
  CITATION.cff
  README.md
  notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
  notebooks/NIRISS/AMI/requirements.txt
Owners: @sosey, @drlaw1558, @rizeladiaz

Storing executed notebook notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
  notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
Owners: @drlaw1558, @rizeladiaz

deploy: ad4c75536de3127c8f4df6d835a94e049f63d650
  README.html
  _images/1833426b3b100fc81ffec402d0554dd1bade3a99bd3888e8555ca83e34dc28b0.png
  _images/337a88e023ad3a1a88186bc290742a01d577ccb3fdb04d3293635e77a2b9e030.png
  _images/6d11f3f5622889fa01c144dd59b839330fb6985602fdc95f632311e531fe693b.png
  _images/6d756915bcbebdf9746fc08536da8297e730dbfb561a4fba2f2cdf4d96aca5c1.png
  _images/7e2e9f09defd49c8110d706f96f320ae3a1359d2d7a307cc0d7e06a252b175e6.png
  _images/84d84934b5dcb6c86e094b1cd6811755878050a88e5933fdb81fb1bf8330a01c.png
  _images/a24797450bc2fefbd87c0a2bfc6edcbf35895ea30eb9f34cbda6ff93e094dc0b.png
  _images/c7cacd6c2d0f27aba5e8177e009ef52563b59fba7673e0efb10c6f2bb69535cb.png
  _sources/README.md
  _sources/notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.ipynb
  _sources/notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.ipynb
  notebooks/NIRCAM/Coronagraphy/JWPipeNB-nircam-coronagraphy.html
  notebooks/NIRISS/AMI/JWPipeNB-niriss-ami.html
  searchindex.js
Owners: @sosey, @aliciacanipe, @bhilbert4, @bsunnquist, @drlaw1558, @rizeladiaz

Bugfix for IFU notebook
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
Owners: @drlaw1558, @rizeladiaz

Cleanup and consistency of all requirements files, updated NIRSpec notebooks
  notebooks/MIRI/Coronagraphy/requirements.txt
  notebooks/MIRI/Imaging-TSO/requirements.txt
  notebooks/MIRI/Imaging/requirements.txt
  notebooks/MIRI/LRS-slit/requirements.txt
  notebooks/MIRI/LRS-slitless-TSO/requirements.txt
  notebooks/MIRI/MRS/requirements.txt
  notebooks/NIRCAM/Coronagraphy/requirements.txt
  notebooks/NIRCAM/Imaging/requirements.txt
  notebooks/NIRISS/AMI/requirements.txt
  notebooks/NIRISS/Imaging/requirements.txt
  notebooks/NIRSPEC/BOTS/JWPipeNB-NIRSpec-BOTS.ipynb
  notebooks/NIRSPEC/BOTS/requirements.txt
  notebooks/NIRSPEC/FSlit/JWPipeNB-NIRSpec-FS.ipynb
  notebooks/NIRSPEC/FSlit/requirements.txt
  notebooks/NIRSPEC/IFU/requirements.txt
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
  notebooks/NIRSPEC/MOS/requirements.txt
Owners: @brynickson, @skendrew, @drlaw1558, @ianyuwong, @cracraft, @kilarson, @aliciacanipe, @bhilbert4, @bsunnquist, @rizeladiaz, @spacetelescope/niriss

Pin matplotlib for nirspec
  notebooks/NIRSPEC/BOTS/requirements.txt
  notebooks/NIRSPEC/FSlit/requirements.txt
  notebooks/NIRSPEC/IFU/requirements.txt
  notebooks/NIRSPEC/MOS/requirements.txt
Owners: @drlaw1558, @rizeladiaz

Update README
  README.md
Owners: @sosey

PEP8
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
Owners: @drlaw1558, @rizeladiaz

PEP8
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
Owners: @drlaw1558, @rizeladiaz

PEP8
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
Owners: @drlaw1558, @rizeladiaz

PEP8
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
Owners: @drlaw1558, @rizeladiaz

NIRSpec Pipeline 1.18.0 Updates (#63)
  README.md
  notebooks/MIRI/Coronagraphy/requirements.txt
  notebooks/MIRI/Imaging-TSO/requirements.txt
  notebooks/MIRI/Imaging/requirements.txt
  notebooks/MIRI/LRS-slit/requirements.txt
  notebooks/MIRI/LRS-slitless-TSO/requirements.txt
  notebooks/MIRI/MRS/requirements.txt
  notebooks/NIRCAM/Coronagraphy/requirements.txt
  notebooks/NIRCAM/Imaging/requirements.txt
  notebooks/NIRISS/AMI/requirements.txt
  notebooks/NIRISS/Imaging/requirements.txt
  notebooks/NIRSPEC/BOTS/JWPipeNB-NIRSpec-BOTS.ipynb
  notebooks/NIRSPEC/BOTS/requirements.txt
  notebooks/NIRSPEC/FSlit/JWPipeNB-NIRSpec-FS.ipynb
  notebooks/NIRSPEC/FSlit/requirements.txt
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
  notebooks/NIRSPEC/IFU/requirements.txt
  notebooks/NIRSPEC/MOS/JWPipeNB-NIRSpec-MOS.ipynb
  notebooks/NIRSPEC/MOS/requirements.txt
Owners: @sosey, @brynickson, @skendrew, @drlaw1558, @ianyuwong, @cracraft, @kilarson, @aliciacanipe, @bhilbert4, @bsunnquist, @rizeladiaz, @spacetelescope/niriss

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
*   @sosey

/notebooks/ @drlaw1558  @rizeladiaz

# Order is important; the last matching pattern takes the most
# precedence.
/notebooks/MIRI/Coronagraphy/   @brynickson  @skendrew  @drlaw1558
/notebooks/MIRI/Imaging-TSO/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/Imaging/   @cracraft  @skendrew  @drlaw1558
/notebooks/MIRI/LRS-slit/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/LRS-slitless-TSO/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/MRS/   @kilarson  @skendrew  @drlaw1558
/notebooks/NIRISS/Imaging/   @spacetelescope/niriss  @drlaw1558
/notebooks/NIRSPEC/Slit/   @spacetelescope/nirspec  @drlaw1558
/notebooks/NIRCAM/Imaging/   @aliciacanipe  @bhilbert4  @bsunnquist  @drlaw1558
/notebooks/NIRCAM/Coronagraphy/   @aliciacanipe  @bhilbert4  @bsunnquist  @drlaw1558
