Repository spacetelescope/jwst-pipeline-notebooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sosey, @drlaw1558, @rizeladiaz, @skendrew, @spacetelescope/niriss, @spacetelescope/nirspec, @spacetelescope/nircam

Downgrade gwcs pin due to recent breaking gwcs update
  notebooks/MIRI/Imaging/requirements.txt
  notebooks/MIRI/MRS/requirements.txt
  notebooks/NIRCAM/Imaging/requirements.txt
  notebooks/NIRISS/Imaging/requirements.txt
Owners: @skendrew, @drlaw1558, @spacetelescope/nircam, @spacetelescope/niriss

Downgrade gwcs pin due to recent breaking gwcs update (#37)
  notebooks/MIRI/Imaging/requirements.txt
  notebooks/MIRI/MRS/requirements.txt
  notebooks/NIRCAM/Imaging/requirements.txt
  notebooks/NIRISS/Imaging/requirements.txt
Owners: @skendrew, @drlaw1558, @spacetelescope/nircam, @spacetelescope/niriss

update to 1.17.1 and more
  notebooks/NIRSPEC/FSlit/JWPipeNB-NIRSpec-FS.ipynb
  notebooks/NIRSPEC/FSlit/requirements.txt
Owners: @drlaw1558, @rizeladiaz

PEP8 style fix
  notebooks/NIRSPEC/FSlit/JWPipeNB-NIRSpec-FS.ipynb
Owners: @drlaw1558, @rizeladiaz

Merge main into branch
  notebooks/MIRI/MRS/requirements.txt
Owners: @skendrew, @drlaw1558

Update MRS notebook to build 11.2 (#35)
  notebooks/MIRI/MRS/JWPipeNB-MIRI-MRS.ipynb
  notebooks/MIRI/MRS/requirements.txt
Owners: @skendrew, @drlaw1558

Update requirements after merge of main
  notebooks/MIRI/Imaging/requirements.txt
Owners: @skendrew, @drlaw1558

Allow specification of backgrounds in MIRI imaging notebook (#33)
  notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
  notebooks/MIRI/Imaging/requirements.txt
Owners: @skendrew, @drlaw1558

Update NIRISS imaging to build 11.2
  notebooks/NIRISS/Imaging/JWPipeNB-niriss-imaging.ipynb
  notebooks/NIRISS/Imaging/requirements.txt
Owners: @spacetelescope/niriss, @drlaw1558

Update NIRCam imaging to build 11.2
  notebooks/NIRCAM/Imaging/JWPipeNB-nircam-imaging.ipynb
  notebooks/NIRCAM/Imaging/requirements.txt
Owners: @spacetelescope/nircam, @drlaw1558

applied request from Law, extrat_1xd catch permission issues, updated 1.17.1
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
  notebooks/NIRSPEC/IFU/requirements.txt
  notebooks/NIRSPEC/ifu/JWPipeNB-NIRSpec-IFU.py
  notebooks/NIRSPEC/ifu/requirements.txt
Owners: @drlaw1558, @rizeladiaz

Corrected PEP8 style issue
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
  notebooks/NIRSPEC/ifu/JWPipeNB-NIRSpec-IFU.ipynb
Owners: @drlaw1558, @rizeladiaz

NIRSpec FS Pipeline Demo Notebook (#26)
  notebooks/NIRSPEC/FSlit/JWPipeNB-NIRSpec-FS.ipynb
  notebooks/NIRSPEC/FSlit/requirements.txt
Owners: @drlaw1558, @rizeladiaz

Remove old directory
  notebooks/NIRSPEC/Slit/requirements.txt
Owners: @spacetelescope/nirspec, @drlaw1558

Remove old directory (#41)
  notebooks/NIRSPEC/Slit/requirements.txt
Owners: @spacetelescope/nirspec, @drlaw1558

NIRSpec IFU Demo Notebook (NEW TEMPLATE) (#29)
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
  notebooks/NIRSPEC/IFU/requirements.txt
Owners: @drlaw1558, @rizeladiaz

Update NIRCam imaging to build 11.2 (#40)
  notebooks/NIRCAM/Imaging/JWPipeNB-nircam-imaging.ipynb
  notebooks/NIRCAM/Imaging/requirements.txt
Owners: @spacetelescope/nircam, @drlaw1558

Update NRS IFU associations
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
Owners: @drlaw1558, @rizeladiaz

Update README
  README.md
Owners: @sosey

PEP8
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
Owners: @drlaw1558, @rizeladiaz

Update NIRISS imaging to build 11.2 (#39)
  notebooks/NIRISS/Imaging/JWPipeNB-niriss-imaging.ipynb
  notebooks/NIRISS/Imaging/requirements.txt
Owners: @spacetelescope/niriss, @drlaw1558

Update NIRISS entry
  README.md
Owners: @sosey

Delete old pep8 check
  .github/workflows/notebook-pep8-check.yml.old
Owners: @sosey

Delete old pep8 check (#44)
  .github/workflows/notebook-pep8-check.yml.old
Owners: @sosey

Test PR
  notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
Owners: @skendrew, @drlaw1558

tweak
  notebooks/MIRI/Imaging/JWPipeNB-MIRI-imaging.ipynb
Owners: @skendrew, @drlaw1558

B11.2 README update (#43)
  README.md
Owners: @sosey

Technical review for neotebook
  notebooks/NIRSPEC/BOTS/JWPipeNB-NIRSpec-BOTS.ipynb
  notebooks/NIRSPEC/BOTS/requirements.txt
  notebooks/NIRSPEC/requirements.txt
Owners: @drlaw1558, @rizeladiaz

fixed typo in requirements file
  notebooks/NIRSPEC/BOTS/requirements.txt
Owners: @drlaw1558, @rizeladiaz

Correcting PEP8 issues
  notebooks/NIRSPEC/BOTS/JWPipeNB-NIRSpec-BOTS.ipynb
Owners: @drlaw1558, @rizeladiaz

Fixed PEP8 issue and Lv3 association
  notebooks/NIRSPEC/BOTS/JWPipeNB-NIRSpec-BOTS.ipynb
Owners: @drlaw1558, @rizeladiaz

Removing incorrect warning block
  notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
Owners: @skendrew, @drlaw1558

Adding MIRI Coron notebook
  notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
  notebooks/MIRI/Coronagraphy/requirements.txt
Owners: @skendrew, @drlaw1558

Updating text to reflect correct pipeline build (11.2)
  notebooks/MIRI/Coronagraphy/JWPipeNB-MIRI-Coron.ipynb
Owners: @skendrew, @drlaw1558

Check GWA agreement with imprint exposures
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
Owners: @drlaw1558, @rizeladiaz

Added MIRI Imaging TSO notebook
  notebooks/MIRI/.DS_Store
  notebooks/MIRI/Imaging-TSO/JWPipeNB-MIRI-imaging-TSO.ipynb
  notebooks/MIRI/Imaging-TSO/requirements.txt
  notebooks/MIRI/MRS/.DS_Store
Owners: @skendrew, @drlaw1558

Formatting update
  notebooks/MIRI/Imaging-TSO/.DS_Store
  notebooks/MIRI/Imaging-TSO/JWPipeNB-MIRI-imaging-TSO.ipynb
Owners: @skendrew, @drlaw1558

Added MIRI LRS slit notebook
  notebooks/MIRI/.DS_Store
  notebooks/MIRI/LRS-slit/.DS_Store
  notebooks/MIRI/LRS-slit/JWPipeNB-MIRI-LRS-slit.ipynb
  notebooks/MIRI/LRS-slit/requirements.txt
Owners: @skendrew, @drlaw1558

Adding MIRI LRS slitless TSO notebook
  notebooks/MIRI/.DS_Store
  notebooks/MIRI/LRS-slitless-TSO/JWPipeNB-MIRI-LRS-slitless-TSO.ipynb
  notebooks/MIRI/LRS-slitless-TSO/requirements.txt
Owners: @skendrew, @drlaw1558

Simplify file lists
  notebooks/NIRSPEC/IFU/JWPipeNB-NIRSpec-IFU.ipynb
Owners: @drlaw1558, @rizeladiaz

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
*   @sosey

/notebooks/ @drlaw1558  @rizeladiaz

# Order is important; the last matching pattern takes the most
# precedence.
/notebooks/MIRI/   @skendrew  @drlaw1558
/notebooks/NIRISS/Imaging/   @spacetelescope/niriss  @drlaw1558
/notebooks/NIRSPEC/Slit/   @spacetelescope/nirspec  @drlaw1558
/notebooks/NIRCAM/Imaging/   @spacetelescope/nircam  @drlaw1558
